{% extends "layout/base.html" %}

{% block page_content %}
  <!-- Messages -->
  <div class="form-container text-center mx-auto  pt-2 pb-4 px-1">
    {% include "includes/_flash_messages.html" %}
    <form action="" method="POST">
      {{ form.csrf_token() }}
        <legend class="border-bottom mb-4"><h1 class="display-4 ele-title">Dołącz do nas</h1></legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label lead") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid", placeholder="Wprowadź swój nick") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control", placeholder="Wprowadź swój nick") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label lead") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder="Wprowadź swój email") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control", placeholder="Wprowadź swój email") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label lead") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", placeholder="Wprowadź hasło") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control", placeholder="Wprowadź hasło") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class="form-control-label lead") }}
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid", placeholder="Powtórz hasło") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class="form-control", placeholder="Powtórz hasło") }}
          {% endif %}
        </div>
        <!-- Rechapta -->
        <div class="form-group mt-4 mb-3">
          {% if form.recaptcha.errors %}
            {{ form.recaptcha }}
            <small class="text-danger">
              <span>To pole jest wymagane.</span>
            </small>
          {% else %}
            {{ form.recaptcha }}
          {% endif %}
        </div>
      <div class="form-group mt-3 mb-4">
        {{ form.submit(class="btn btn-block btn-ele") }}
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Masz już konto? <a class="ml-2" href="{{ url_for('user.login') }}">Zaloguj się</a>
      </small>
    </div>
  </div>
{% endblock %}
