{% extends "layout/base.html" %}

{% block page_content %}
  <main role="main" class="container-fluid">
    <!-- Messages -->
    <div class="row justify-content-center my-3">
      <div class="col-lg-8 text-justify">
        <p>Niniejsza storna powstała w celu pomocy wszystkim elektronikom.
        Każdy może na niej opisać swój problem związany z elektroniką lub poprosić o
        wyjaśnienie nurtującej go zagadki. Żaden problem nie zostanie pozostawiony
        bez odpowiedzi! Pamiętajmy jednak publikując swój post o stosowaniu zasad
        ujętych w regulaminie, ponieważ pomoże nam to zachować porządek na stronie.</p>
      </div>
    </div>
  </main>
{% endblock %}
